{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content%}

<h1 class="wow fadeIn" data-wow-delay="0.2s">Game Thread</h1>
    {% for x in this_game %}
        <h3 class="wow fadeIn" data-wow-delay="0.2s">{{x.summary}}</h3>
    {% endfor %}
<!-- Section: Comments list -->
<section class="mb-5 mt-5 wow fadeIn" data-wow-delay="0.3s">
    <!-- Main wrapper -->
    <div class="comments-list text-center text-md-left">
        {% for c in comments %}
        <!-- First row -->
        <div class="row mb-4">
            <!-- Image column -->
            <div class="col-sm-2 col-12 mb-md-0 mb-3">
                <img src="{% static 'img/SDlogo.jpg' %}" class="avatar rounded-circle z-depth-1-half">
            </div>
            <!-- Content column -->
            <div class="col-sm-10 col-12">
                <a>
                    <h6 class="font-weight-bold">@{{ c.by }}</h6>
                </a>
                <div class="mt-2">
                    <ul class="list-unstyled">
                        <li class="comment-date">
                        <small><i class="far fa-clock"></i> {{ c.date|date:'m/d/y' }}</small></li>
                    </ul>
                </div>
                {% if c.dislikes.count > c.likes.count %}
                <p class="grey-text animated hinge delay-2s">{{ c.comment_body }}</p>
                {% else %}
                <p class="grey-text animated fadeInUpBig delay-2s">{{ c.comment_body }}</p>
                {% endif %}
                <div class='row'>
                    <div class='col-1'>
                        <form method='POST' action="{% url 'thread_app:like_comment' c.id this_thread.id %}">
                        {% csrf_token %}
                            <button data-toggle='tooltip' data-placement="top" title="This comment is fire!" name='comment_id' id='comment_id' value='{{c.id}}' type='submit' class='btn btn-link'><span class="badge badge-pill brown darken-4">{{ c.likes.count }} <i class="fas fa-fire-alt"></i></span></button>
                            
                        </form>
                    </div>
                    <div class='col-1'>
                        <form method='POST' action="{% url 'thread_app:dislike_comment' c.id this_thread.id %}">
                        {% csrf_token %}
                            <button data-toggle='tooltip' data-placement="top" title="This comment is a dumpter fire!" name='comment_id1' id='comment_id1' value='{{c.id}}' type='submit' class='btn btn-link'><span class="badge badge-pill brown darken-4">{{ c.dislikes.count }} <i class="fas fa-dumpster-fire"></i></span></button>
                            
                        </form>
                    </div>
                </div>
            </div>
            <!-- Content column -->
        </div>
        <!-- First row -->
        <hr>
    
        {% endfor %}
    </div>
    <!-- Main wrapper -->
</section>
<!-- Section: Comments list -->

<!--Comment Form-->
<section>
    <div class="card">
        <div class="card-body pt-3 px-lg-5 pt-0">
        {% if user.is_authenticated %}
            <form method='POST'>
            {% csrf_token %}
            {% bootstrap_form comment_form %}
                <input  class="btn btn-outline-dark btn-rounded btn-block z-depth-0 my-4 waves-effect" value="Send It!" type="submit">
            </form>
        {% else %}
        <h2>Please login to comment!</h2>
        {% endif %}
        </div>
    </div>
</section>
<!--Comment Form--> 

{% block scripts %}
{% endblock %}
{% endblock%}