{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
    {% for g in gamethreads %}
        <div class="col-sm-6 mb-3 mb-md-0">
            <a href="{% url 'thread_app:gamethread_detail' g.pk %}">
                <!-- Card -->
                <div class="card card-image mt-5"
                style="background-image: url({% static 'img/friarLogo.png'%}); background-repeat: no-repeat; background-size: contain; background-position: left;">
                    <!-- Content -->
                    {% if forloop.first %}
                        <div class="brown-text darken-4 text-center align-items-center py-5 px-4 border border-warning">
                            <div>
                                <h3 class="card-title pt-2">
                                    NEW
                                    <strong>Game thread for {{ g.date|date:'m/d/y' }} </strong>
                                </h3>
                                <p><span class="badge badge-pill brown darken-4">{{ g.thread_comments.count }} <i class="far fa-comments" aria-hidden="true"></i></span></p>
                            </div>
                        </div>
                    {% else %}
                        <div class="brown-text darken-4 text-center align-items-center py-5 px-4">
                            <div>
                                <h3 class="card-title pt-2">
                                    <strong>Game thread for {{ g.date|date:'m/d/y' }} </strong>
                                </h3>
                                <p><span class="badge badge-pill brown darken-4">{{ g.thread_comments.count }} <i class="far fa-comments" aria-hidden="true"></i></span></p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- Card -->
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}